footer {
    background-color: rgb(0, 0, 0);
    font-size: small;
    color: aliceblue;
    border-top: 2px;
    border-top-style: ridge;
    border-color: #597e32;
    margin-top: 0px;
    align-items: center;
    justify-content: space-around;
}