.section {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: left;
}

.box {
    display: flex;
    width: 500px;
    justify-content: center;
    object-fit: cover;
    padding: 20px;
    justify-content: space-around; 
    margin-left: 50px;
}
.box__img {
    width: 100%;
}
.box-dos {
    display: flex;
    width: 400px;
    justify-content: center;
    object-fit: cover;
    padding: 20px;
    justify-content: space-around; 
    flex-direction: column;
}
.link {
    font-size: x-large;
}